<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 
</head>
<body>
    <div class="container">
        <h1>Job Openings</h1>
        <form action="/search" method="post">
            <label for="coding_lang">Enter Coding Language:</label><br>
            <input type="text" id="coding_lang" name="coding_lang"><br><br>
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>
